{% extends "base.html" %}


{% block title %}Edit{% endblock %}


{% block content %}

    {% if is_exists %}

        <h1 style="text-align:center;">Edit Student</h1>
        <p style="text-align:center;">Update student information and scores</p>

        <form action="{{ url_for('edit', id=id) }}" method="post" novalidate>
            {{ form.csrf_token }}
            <p>
                {{ form.name.label }} <br> {{ form.name }}
                {% for err in form.name.errors %}
                    <span style="color:red">{{ err }}.</span>
                {% endfor %}
            </p>
            <p>
                {{ form.roll_number.label }} <br> {{ form.roll_number }}
                {% for err in form.roll_number.errors %}
                    <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.gender.label }} <br> {{ form.gender }}
                {% for err in form.gender.errors %}
                    <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.math_score.label }} <br> {{ form.math_score }}
                {% for err in form.math_score.errors %}
                    <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.reading_score.label }} <br> {{ form.reading_score }}
                {% for err in form.reading_score.errors %}
                    <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.writing_score.label }} <br> {{ form.writing_score }}
                {% for err in form.writing_score.errors %}
                    <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.attendance.label }} <br> {{ form.attendance }}
                {% for err in form.attendance.errors %}
                    <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            {{ form.submit }}

        </form>

    {% else %}

            <h1 style="text-align:center;">Student Not Found</h1>
            <p style="text-align:center;">The student you are trying to edit does not exist or may have been deleted.</p>

    {% endif %}

{% endblock %}