{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<h1 style="text-align:center;">Student Performance & Management System</h1>
<p style="text-align:center;">Manage student records and view academic performance insights</p>


<br><br><br><br>
<h3>Use the options below to manage student records and analyze performance.</h3>
<ul>
    <li><h4><a href="{{ url_for('students') }}">View Students</a></h4></li>
    <li><h4><a href="{{ url_for('add') }}">Add Student</a></h4></li>
    <li><h4><a href="{{ url_for('analytics') }}">View Analytics</a></h4></li>
</ul>

{% endblock %}